# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment
.env
venv/
.env.*

# VS Code / Cursor
.vscode/
.cursor/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid


# Keep folder structure but ignore contents
!backend/uploads/.gitkeep
!backend/exports/.gitkeep
!backend/offer_letters/.gitkeep